* {
	font-size: 100%;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
}

html, body {
	margin: 0; padding: 0;
	width: 100%; height: 100%;
}

body {
	position: relative;
	background: url('img/bgPattern.png');
	width: 800px;
	margin: 0 auto 0 auto;
	overflow: hidden;
}

.box {
	position: relative;
	
    margin-top: 1em;
	
	border-radius: 18px;
	font-size: 1.5em;
}

.box .border1 {
	position: absolute;
	top: 3px; left: 3px;
	border-radius: 14px;
}

.box .content {
	position: absolute;
	top: 8px; left: 8px;
	border-radius: 9px;
	color: white;
}

.box .content ul {
	list-style-type: none;
	margin-top: .75em;
}

.box .content ul li {
	font-size: 1.5em;
	cursor: pointer;
}

.box .content ul li.confirm {
    background-color: #7038d0;
    width: 90%;
}

.box .content img.cursor {
	position: absolute;
	/*top: 1.2em;*/
	/*top: 3.1em;*/
	top: 5em;
	left: .6em;
	
}



/* Flavours */
.box.plain {
    background-color: #889090;
    border: 2px solid black;
}

    .box.plain .border1 {
        background-color: #889090;
	    border:2px solid #f0f0f0;
    }

    .box.plain .content {
        background-color: black;
    }

.box.mint {
    background-color: #f8e8a8;
    border: 2px solid #383050;
}

    .box.mint .border1 {
        background-color: #68d0b8;
        border: 2px solid #68d0b8;
    }

    .box.mint .content {
        background-color: #280828;
        color: #f0f0b8;
    }

.box.strawberry {
    border: 2px solid #402048;
    background-color: #f8e8c8;
}

    .box.strawberry .border1 {
        border: 2px solid #f890a8;
        background-color: #f890a8;
    }

    .box.strawberry .content {
        background-color: #280828;
        color: #f0f0b8;
    }

.box.banana {
    border: 2px solid #483050;
    background-color: #f8f8d0;
}

    .box.banana .border1 {
        border: 2px solid #e8f858;
        background-color: #e8f858;
    }

    .box.banana .content {
        background-color: #280828;
        color: #f0f0b8;
    }

.box.penut {
    border: 2px solid #401828;
    background-color: #f8e8a8;
}

    .box.penut .border1 {
        border: 2px solid #e0a050;
        background-color: #e0a050;
    }

    .box.penut .content {
        background-color: #280828;
        color: #f0f0b8;
    }
/* End Flavours */


h1 {
	font-size: 1.5em;
	margin: .25em 0 0 .25em;
}

.box .content span {
    display: block;
    float: left;
    margin: 1.6em .10em .05em .05em;
    font-size: .75em;
}

.box .content span.active {
    display: block;
    background-color: white;
    border-radius: 64px;
    height: .75em;
    width: .75em;
    margin-top: 1.9em;
    margin-right: .2em;
}

.box .content span.first {
    margin-left: 1em;
}

#typeBox .content img {
    position: absolute;
    top: 1.15em;
    left: .8em; /* A */
}

